*{
    margin:0;
    padding:0;
}
.header{
        position: relative; /* Set position to relative for proper pseudo-element positioning */
        background-image: url('image.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
    

